# Entornos virtuales
venv/
.env

# Archivos de compilación de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3

# Archivos de migraciones compiladas
*/migrations/__pycache__/

# Configuración de IDEs
.vscode/
.idea/
