# Entornos virtuales
.venv/
venv/
env/

# Archivos de sistema
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Base de datos local
db.sqlite3

# Archivos de migraciones compiladas
*/migrations/__pycache__/

# Configuración local
.env
*.log

# Archivos temporales de VSCode o PyCharm
.vscode/
.idea/